<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <application
        android:name=".ZLApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${launcher_name}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.ZalithLauncher"
        android:appCategory="game"
        android:supportsRtl="true"
        android:isGame="true"
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:allowNativeHeapPointerTagging="false"
        tools:targetApi="33"
        tools:ignore="DiscouragedApi">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SplashScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|keyboard|navigation"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:label="@string/import_modpack"
            android:name="com.movtery.activity.ImportModpackActivity"
            android:exported="true"
            android:targetActivity=".ui.activities.SplashActivity">

            <meta-data
                android:name="import_type"
                android:value="modpack" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/*"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="application/*"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:label="@string/control_manage_import"
            android:name="com.movtery.activity.ImportControlsActivity"
            android:exported="true"
            android:targetActivity=".ui.activities.SplashActivity">

            <meta-data
                android:name="import_type"
                android:value="controls" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/json"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="application/json"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|keyboard|navigation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.activities.ControlEditorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|keyboard|navigation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.activities.VMActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|keyboard|navigation"
            android:process=":game"
            android:launchMode="standard"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".ui.activities.ErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|keyboard|navigation"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".ui.activities.FatalErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"
            android:theme="@style/Theme.Material3.DayNight.Dialog.Alert" />

        <activity
            android:name=".filemanager.ui.FileManagerActivity"
            android:process=":filemanager"
            android:taskAffinity=":filemanager"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|keyboard|navigation|uiMode|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="sensorLandscape"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />

        <service
            android:name=".filemanager.events.FileManagerEventService"
            android:process=":filemanager"
            android:exported="false">
            <intent-filter>
                <action android:name="com.movtery.zalithlauncher.filemanager.EVENT_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".game.download.jvm_server.JvmService"
            android:enabled="true"
            android:foregroundServiceType="specialUse"
            android:process=":jvm">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_TYPE"
                android:value="Run Java Virtual Machine for game or server tasks" />
        </service>

        <service
            android:name=".game.launch.GameService"
            android:enabled="true"
            android:foregroundServiceType="specialUse"
            android:process=":game">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_TYPE"
                android:value="Running the game engine and maintaining game process" />
        </service>

        <service
            android:name=".terracotta.TerracottaVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true"
            android:process=":game"
            android:foregroundServiceType="connectedDevice"
            tools:ignore="VpnServicePolicy">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name=".provider.FolderProvider"
            android:authorities="${packageName}.document.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${packageName}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <queries>
        <package android:name="net.kdt.pojavlaunch.ffmpeg"/>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
</manifest>